# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

return JsonResponse
//As variaveis ... estão recebendo dados de um formulario a partir de inputs com o atributo name igual a
// 5options = {'db_table':'bicicletas',
 artista=request.user /;
Concatenar uma url
//<a href - '{{livro.nome}}/?capitulo={{livro.capitulo}} /
/ python manage.py createsuperuser --username thanos
// return HttpResponse('{} /
/ Apenas 1 está errada